absl-py
astor
certifi
cffi
chardet
ConfigArgParse
future
gast
grpcio
idna
Markdown
mkl-fft
mkl-random
numpy
olefile
Pillow
protobuf
pycparser
requests
scipy
six
tb-nightly
tensorboard
tensorboardX
tensorflow
termcolor
torch
torchtext
torchvision
tqdm
urllib3
Werkzeug
